<%= render "slide"%>
<br><br><br><h1 align="center">Listing Posts</h1>

<table style="" align="center" border="1">
  <tr>
    <th>Post Name</th>
    <th>User Name</th>
    <th>Email</th>
    <th>Mobile No</th>
    <th colspan="10"></th>
  </tr>
 
<% @posts.each do |post| %>
  <tr>
    <td><%= post.post_name %></td>
    <td><%= post.user_name %></td>
    <td><%= post.email %></td>
    <td><%= post.mobile_no %></td>
    <td><%= link_to 'Show', post_path(post) %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table><br><br>
<p align="center"><%= link_to 'New Post', new_post_path %></p>


<p align="center"><%= will_paginate @posts%></p>



