<h1>Listing Posts</h1>

<table>
  <tr>
    <th>Post Name</th>
   <th>User Name</th>
    <th>Email</th>
    <th>Mobile No</th>
    <th colspan="3"></th>
  </tr>
 
<% @posts.each do |post| %>
  <tr>
    <td><%= post.post_name %></td>
    <td><%= post.user_name %></td>
    <td><%= post.email %></td>
    <td><%= post.mobile_no %></td>
    <td><%= link_to 'Show', post_path(post) %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br><br>
<%= link_to 'New Post', new_post_path %>
<br><br>
<%= will_paginate @posts, :page_links => false%>
